{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load mptt_tags %}
{% load humanize %}
{% load blog_extras %}
{% load i18n %}
{% block content %}
  <article class="post">
    <aside class="actions">
      {% if user.is_authenticated %}
        <a class="btn btn-secondary"
           href="{% url 'blog:post_edit' pk=post.pk %}">{% include "./icons/pencil-fill.svg" %}</a>
      {% endif %}
    </aside>
    {% if post.published_date %}
      <time class="date mr-3">
        {{ post.published_date|naturaltime }}
      </time>
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p class="text-muted mb-2 category-link">
      <a href="{% url 'blog:category_detail' category=post.category %}">{{ post.category }}</a>
    </p>
    <p>{{ post.text|linebreaksbr }}</p>
    <p class="text-muted">
      {% translate "Author:" %} <a href="{% url 'blog:author_detail' pk=post.author.pk %}">{{ user.first_name|format_author_name:user.last_name }}</a>
    </p>
  </article>
  {% if related_posts %}
    <h3>{% translate "Related Posts" %}</h3>
    <hr>
    {% for rpost in related_posts %}
      <a href="{% url "blog:post_detail" pk=rpost.related_post.pk %}">{{ rpost.related_post }}</a>
      <hr>
    {% endfor %}
  {% endif %}
  <div class="d-flex mt-4">
    <h3 class="mr-3">{% translate "Comments" %}</h3>
    {% if user.is_authenticated %}
      <p>
        <button class="btn btn-secondary btn-sm"
                type="button"
                data-toggle="collapse"
                data-target="#collapseForm"
                aria-expanded="false"
                aria-controls="collapseForm">+</button>
      </p>
    {% endif %}
  </div>
  <div id="collapseForm" class="collapse">
    <form method="post"
          action="{% url 'blog:comment_new' pk=post.pk %}"
          class="p-3 bg-light rounded">
      {% csrf_token %}
      {{ comment_form|crispy }}
      <input type="submit"
             value="{% translate "SEND!" %}"
             class="btn btn-secondary w-100" />
    </form>
  </div>
  <hr>
  <div class="root">
    {% recursetree comments %}
    <div>
      <div class="border border-dark rounded p-3 bg-light mb-2">
        <p class="text-muted mb-2">{{ node.author }} - {{ node.created_date }}</p>
        <p class="mb-0">{{ node.body }}</p>
        {% if user.is_authenticated %}
          <p class="d-flex justify-content-end mb-0">
            <button class="btn btn-secondary btn-sm"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseForm{{ node.pk }}"
                    aria-expanded="false"
                    aria-controls="collapseForm{{ node.pk }}">Reply</button>
          </p>
        {% endif %}
      </div>
      <div id="collapseForm{{ node.pk }}" class="collapse">
        <form method="post"
              action="{% url 'blog:comment_new_child' pk=post.pk parent=node.pk %}"
              class="p-3 bg-light rounded">
          {% csrf_token %}
          {{ comment_form|crispy }}
          <input type="submit"
                 value="{% translate "SEND!" %}"
                 class="btn btn-secondary w-100" />
        </form>
      </div>
      {% if not node.is_leaf_node %}
        <ul class="children">
          {{ children }}
        </ul>
      {% endif %}
    </div>
  {% endrecursetree %}
  {% if not comments %}
    <p class="alert alert-info">{% translate "This post doesn't have any comments yet." %}</p>
  {% endif %}
  <div class="mt-4">
    <h3>Latest posts from the {{ post.category }} category</h3>
    <hr>
    {% for post in post.category|last_posts %}
      <a href="{% url "blog:post_detail" pk=post.pk %}">{{ post.title }}</a>
      <hr>
    {% endfor %}
  </div>
</div>
{% endblock content %}
