{% extends "blog/base.html" %}
{% block content %}
  <article class="post">
    <aside class="actions">
      {% if user.is_authenticated %}
        <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">{% include "./icons/pencil-fill.svg" %}</a>
      {% endif %}
    </aside>
    {% if post.published_date %}
      <time class="date mr-3">
        {{ post.published_date }}
      </time>
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>
    <p class="text-muted">
      Author: <a href="{% url 'author_detail' pk=post.author.pk %}">{{ post.author|linebreaksbr }}</a>
    </p>
  </article>
{% endblock content %}
