{# djlint:off H023 #}
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="dropdown mb-4">
    <button class="btn btn-secondary dropdown-toggle w-100"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">Filter Posts</button>
    <div class="dropdown-menu w-100 m-0 p-0"
         aria-labelledby="dropdownMenuButton">
      <form method="get" class="p-3 bg-light">
        {{ filterset.form|crispy }}
        <input type="submit" value="SEND!" class="btn btn-secondary w-100" />
      </form>
    </div>
  </div>
  <div>
    {% for post in object_list %}
      <article class="post">
        <time class="date">
          {{ post.published_date }}
        </time>
        <h2 class="mb-1">
          <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h2>
        <p class="text-muted mb-2 category-link">
          <a href="{% url 'category_detail' category=post.category %}">{{ post.category|title }}</a>
        </p>
        <p>{{ post.text|linebreaksbr }}</p>
        <p class="text-muted">
          Author: <a href="{% url 'author_detail' pk=post.author.pk %}">{{ post.author|linebreaksbr }}</a>
        </p>
      </article>
    {% empty %}
      <p class="alert alert-info">No posts found with the matching criteria.</p>
    {% endfor %}
  </div>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
      {% if page_obj.has_next %}
        <!-- https://stackoverflow.com/questions/52007038/pagination-using-listview-and-a-dynamic-filtered-queryset -->
        <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">next</a>
        <a href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock content %}
